<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{title}}</title>
		<link rel="stylesheet" type="text/css" href="../../static/css/main.css">
	</head>
	<body>
		{{> navbar}}
		<div id="learn-title">
		<h1>Learn About Fundamental Tricks</h1>
		</div>
		<div class="learn-container">
			<div class="home-descr">

				<h3>Discrete</h3>
				<p></p>

			</div>

			<div class="learn-descr">

				<h3>Combinatorics</h3>
				<p></p>

			</div>

			<div class="learn-descr">

				<h3>Logic</h3>
				<p></p>

			</div>

			<div class="learn-descr">

				<h3>Calc</h3>
				<p></p>

			</div>


		</div>



	</body>
</html>
