<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Discussion 1</title>
		<link rel="stylesheet" type="text/css" href="../../static/css/main.css">
		<!-- <link rel="stylesheet" type="text/css" href="../css/main.css"> -->
	</head>

	<body>

		{{> navbar}}

		<!-- Very rough of course, need to configure how user profiles will be shown and should look more like a forum post maybe -->
		<h2>Question about problem statement</h2>

		<div class="discussion-container">

		
			<div class="user-posts">
				<p class="user">User 1</p>
				<p>Hello, I did not understand exactly what the problem wanted us to do. Does it want us to find the answer for each person or for all of them combined?</p>
				<p class="user">User 2</p>
				<p>The problem is asking for the amount of chocolate recieved for each individual person</p>
				<p class="user">User 3</p>
				<p>The problem wants you to find the amount of choclate for Jack, Charlotte, and Cody seperately</p>
				<p class="user">User 4</p>
				<p>Thanks for the clarification!</p>
			</div>
		</div>
	</body>


</html>