<!doctype = html>

<html>

	<head>
		<meta charset="utf-8">
		<!--Need more meta's not important right now -->
		<title>{{title}}</title>
		<link rel="stylesheet" type="text/css" href="../static/css/main.css">
		

	</head>

	<body>
		
			{{> navbar}}

		<div>

		<p>CSS needs to be added to header. JS needs to be implemented to make a stick header when going to other pages(See figma).Search function need SQL but other two things take priority</p>

		</div>

		<div id="banner">
			<a id="problem-of-day" href="problems/problem.html">Problem of the Day</a>
		</div>

		<div>
			<div class="home-descr">

				<h3>Improve Your Problem Solving Skills</h3>
				<ul></ul>
				<p>Practice solving problems and learn tricks</p>

			</div>

			<div class="home-descr">

				<h3>Discuss With Others</h3>
				<ul></ul>
				<p>Chat with users about problems and ways to solve them</p>

			</div>

			<div class="home-descr">

				<h3>Design Your Own Problems</h3>
				<ul></ul>
				<p>Curate your own problems for other users to try and solve</p>

			</div>

		</div>

	</body>








</html>